<div class="container">
	<h2>FAQ</h2>

	<mat-expansion-panel>
	  <mat-expansion-panel-header>
	    <mat-panel-title>
	      How to search a song?
	    </mat-panel-title>
	    <mat-panel-description>
	      This is a summary of the content
	    </mat-panel-description>
	  </mat-expansion-panel-header>

	  <p>First, select from home a section (Anthems or Choruses) </p>
	  <p>Second, Write into searchbar what song do you want to find using a title extract or a number </p>
	  <p>Finally, select a song from list </p>

	</mat-expansion-panel>

	<mat-expansion-panel>
	  <mat-expansion-panel-header>
	    <mat-panel-title>
	      How to change size?
	    </mat-panel-title>
	    <mat-panel-description>
	      This is a summary of the content
	    </mat-panel-description>
	  </mat-expansion-panel-header>

	  <p>From home section change song size</p>

	</mat-expansion-panel>
</div>
