<div class="container">

	<h2>Home Page</h2>
	<div class="container">
		<div class="row">
		    <div class="col-8">
		     	<h3>
	    		Cansado de tener que renovar el Himnario cada vez que se lanza una nueva versión con correcciones menores o disponer de nuevas alabanzas.</h3>
	    		<h3>
	    		Desde ahora podrás utilizar el Himanrio desde tu celular!</h3>
	    		<h3>
	    		Además tendrás disponible 403 Himnos y 100 Coritos.</h3>
		    </div>
		    <div class="col-3">
		      <img src="assets/Anthem_ios.png" alt="iOS iPhone App" height="400px">
		    </div>
	    </div>
	</div>
</div>
